.BoxCss{
    width: 300px;
    height: 650px;
    background-color: aquamarine;
    border: 1px solid
}
#userlebal{
    font-family: 'Roboto Mono', monospace;
    font-size:large
}
input{
    font-family:'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
}
#paragraph{
    width: 200px;
    height:200px;
    overflow:scroll;

}